.header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid black;
}

.nav-items > ul{
    list-style: none;
    margin-right:10px;
    display: flex;
}

/* .header:hover{
background-image: linear-gradient(to right, #fdbb2d,#22c1c3);
} */

body{
    background-image: linear-gradient(to right, rgba(250, 248, 248, 0), rgb(147, 243, 44));
    /* background-image: linear-gradient(#e0dff2,#1515a8,#00d4ff); */
}

.item:hover{
    color: #ffffff;
    
    transition: color  .5s;
}

.nav-items >ul>a{
    text-decoration: none;
    color:black;
    padding: 10px;
    margin-top: 20px;
    cursor: default;
}

.nav-items > ul >li{
    padding: 10px;
}

.logo{
    width: 90px;
}

.footer-logo{
    width: 90px;
}

.card{
    display: flex;
    width: 220px;
    height: 95%;
    padding: 5px;
    margin: 10px;
    font-size: 15px;
    color: black;
}

.card:hover{
    background-image: linear-gradient(to left,#f1f1f1,#938c8c);
    opacity: 0.95;
    transition: opacity .53s;
    cursor:default;
}

.card >img{
    width: 200px;
    height: 200px;
    
}

.restaurant-list{
    display: flex;
    flex-wrap: wrap;
    
    /* align-content: flex-start; */
  
}

.newlist{
    text-decoration: none;
}
.footer{
    display: flex;
    /* margin: 10px; */
    margin-top: 5%;
    margin-inline: 10px;
    color: #383636af;
    margin-left: 20%;
    font-size: 40px;
    font-weight: bolder;
    justify-content: center;
    
}
.footer-img{
    display: flex;
    flex-wrap: wrap;
   width:  30%;
}

.footer2{
    color: #fff;
    background-color: rgb(0, 0, 0);
    opacity: 0.9;
    /* padding-top: 30%; */
    display: flex;
    /* justify-content: center; */
    padding-top: 5%;
    padding-bottom: 10%;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 5%;
}


.companylogo{
   font-size: 18px;
   font-weight: 700;
   line-height: 30px;
   letter-spacing: -.5px;
}

.company-1{
    list-style: none;
    line-height: 30px;
    
}

.search,.search-btn{
    margin: .5rem;
    
}
.search-btn{
    background-color: rgb(47, 180, 47);
    padding: 5px;
    justify-content: center;
    padding-inline: 30px;
}

.error{
    font-size: 100px;
    text-align: center;
    padding-top: 12%;
}

.menu{
    display: flex
}
.menu>img{
    width: 200px;
    height: 200px;
}